body {
    font-family: 'Courier New';
    margin: 10px;
    padding: 10px;
    background-color: rgb(35, 207, 150);
}

nav ul {
    list-style-type: none;
    background-color: #333;
}

nav ul li {
    float: left;
}

li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

li a:hover {
    background-color: #111;
}

img {
    max-width: 150px;
    height: auto;
    border-radius: 25%;
}

.about{
    text-align: right;
    padding: 20px;
}

.work, .contact {
    padding: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.projects-thumbnail {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: black;
    position: fixed;
    width: 50%;
}